$break-small: 640px;
$break-large: 1000px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

@mixin box-shadow($params) {
  -moz-box-shadow: $params;
  -webkit-box-shadow: $params;
  box-shadow: $params;
}

@mixin linear-gradient($top, $bottom) {
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin linear-gradient-image($top, $bottom, $image) {
    background: url($image); /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%), url($image) center center no-repeat; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)), url($image) center center no-repeat; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%), url($image) center center no-repeat; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%), url($image) center center no-repeat; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%), url($image) center center no-repeat; /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%), url($image) center center no-repeat; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin linear-gradient-percent($color1, $color2, $percent) {
    background: $color1; /* Old browsers */
    background: -moz-linear-gradient(top,  $color1 0%, $color2 $percent, $color1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop($percent,$color2) color-stop(100%,$color1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $color1 0%, $color2 $percent, $color1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $color1 0%, $color2 $percent, $color1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $color1 0%, $color2 $percent, $color1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $color1 0%, $color2 $percent, $color1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}