$base-font-size: 14px;
$hacktj-primary: #A1B6D5;
$text-color: #333333;
$line-width: 7px;

$body-family: "Avenir Next", sans-serif;
$header-family: "Roboto", sans-serif;

@import "concise/index";
@import "icons/icons";
@import "icons/helper";
@import "icons/social/icons";
@import "mixins";
@import "fonts";

body {
	background-color: $hacktj-primary;
	font-family: $body-family;
	font-weight: 300;
	color: white;
	position: relative;
	width: 100%;
	min-height: 100%;
}

button, .button {
	text-decoration: none;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin: 20px auto 0;
	padding: 0 20px;
	background: none;
	overflow: hidden;
	border: 1px solid $hacktj-primary;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	position: relative;
	color: $hacktj-primary;
	&:hover{
		background-color: $hacktj-primary;
		border-color: $hacktj-primary;
		color: white;
	}
	&:active{
		border-color: white;
	}
	transition: background-color 0.25s, border-color 0.25s, color 0.25s, padding-left 0.25s;
}

.centered-box{
	display: block;
	width: 100%;
	max-width: 800px;
	margin: auto;
	
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0);

	@include respond-to("mobile"){
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		margin-top: 1em;
	}
	.icon{
		display: block;
		text-align: center;
		font-size: 10em;
		opacity: 0.8;
	}
	.title{
		font-family: $header-family;
		font-size: 2em;
		text-align: center;
		font-weight: 100;
		margin: 0px auto 0;
	}
	.action-section{
		background: white;
		color: #333;
		width: 70%;
		@include respond-to("mobile"){
			width: 90%;
			font-size: 1.2em;
		}
		margin: 40px auto;
		padding: 20px 30px;
		box-shadow: 0 5px 5px rgba(51, 51, 51, 0.2);
		text-align: center;
		&.large-text{
			font-size: 1.1em;
			@include respond-to("mobile"){
				font-size: 1.3em;
			}
		}
	}
}

.social-links{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 8%;
	margin: 0 auto;
	padding-top: 30px;
	width: 410px;
	vertical-align: middle;
	@include respond-to("mobile"){
		width: 100%;
	}
	.logo{
		width: 140px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		float: left;
		margin-top: -15px;
		@include respond-to("mobile"){
			display: block;
			margin: auto;
			float: none;
		}
	}
	.social-group{
		display: inline-block;
		@include respond-to("mobile"){
			display: block;
			width: 240px;
			margin: 25px auto;
		}
	}
	.social{
		vertical-align: middle;
		display: inline-block;
		font-size: 30px;
		width: 30px;
		color: white;
		text-align: center;
		text-decoration: none;
		margin: 10px 25px;
		transition: transform 0.4s, color 0.4s;
		&:hover{
			transform: scale(1.2);
		}
	}
}

