$base-font-size: 14px;
$hacktj-primary: #8064A2;
$text-color: #333333;
$line-width: 7px;
$green: #68bb68;
$red: #EA5C5C;

$body-family: "Avenir Next", sans-serif;
$header-family: "Roboto", sans-serif;

@import "concise/index";
@import "icons/icons";
@import "icons/helper";
@import "icons/social/icons";
@import "mixins";
@import "fonts";

body {
	@include linear-gradient($hacktj-primary, #82A3D5);
	font-family: $body-family;
	font-weight: 300;
	color: white;
	position: relative;
	width: 100%;
	min-height: 100%;
}

strong {
	font-weight: 500;
}

a {
	text-decoration: underline;
}

button, .button {
	text-decoration: none;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin: 20px auto 0;
	padding: 0 20px;
	background: none;
	overflow: hidden;
	border: 1px solid $hacktj-primary;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	position: relative;
	color: $hacktj-primary;
	.icon{
		font-size: 25px;
		margin-top: 10px;
		margin-right: 0.5em;
	}
	&.upload{
		display: block;
		margin: 5px 0;
		font-size: 16px;
		padding: 0 15px;
		margin-left: 10px;
	}
	&:hover{
		background-color: $hacktj-primary;
		border-color: $hacktj-primary;
		color: white;
	}
	&:active{
		border-color: white;
	}
	transition: background-color 0.25s, border-color 0.25s, color 0.25s, padding-left 0.25s;
}

.centered-box{
	display: block;
	width: 100%;
	max-width: 800px;
	margin: auto;
	
	&.not-found{
		.action-section{
			display: none;
			&.not-found{
				display: block;
			}
		}
	}

	&.deadline-passed{
		.action-section{
			display: none;
			&.deadline-passed{
				display: block;
			}
		}
	}
	
	&.relative{
		position: relative;
		margin-top: 20px;
	}
	&:not(.relative){
		position: absolute;
		top: 5%;
		left: 50%;
		transform: translate(-50%, 0);
	}

	@include respond-to("mobile"){
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		margin-top: 1em;
	}
	.header-section{
		.icon{
			display: block;
			text-align: center;
			font-size: 10em;
			opacity: 0.8;
		}
		.title{
			font-family: $header-family;
			font-size: 2em;
			text-align: center;
			font-weight: 100;
			margin: 0px auto 0;
		}
	}
	.action-section{
		background: white;
		color: #333;
		width: 70%;
		@include respond-to("mobile"){
			width: 90%;
			font-size: 1.2em;
		}
		margin: 40px auto;
		padding: 20px 30px;
		box-shadow: 0 5px 5px rgba(51, 51, 51, 0.2);
		text-align: center;
		&.align-left{
			text-align: left;
		}
		&.large-text{
			font-size: 1.1em;
			@include respond-to("mobile"){
				font-size: 1.3em;
			}
		}
		li{
			margin-top: 20px;
			.complete-text{
				display: none;
				font-size: 1.1em;
				margin-top: 10px;
				margin-left: 10px;
				font-weight: 500;
				color: $green;
				.icon{
					margin-right: 0.3em;
					font-size: 1.5em;
				}
				a{
					margin-left: 0.3em;
					font-weight: 300;
				}
				.filename{
					display: inline;
					font-weight: 300;
					color: $text-color;
				}
				.edit{
					padding-left: 0.5em;
				}
			}
			&.completed{
				.complete-text{
					display: block;
				}
				.upload{
					display: none;
				}
			}
		}
		.status-container{
			h3{
				font-size: 1.3em;
				text-align: center;
				font-weight: 300;
			}
			.incomplete{
				color: $red;
				display: inline;
			}
			.complete{
				color: $green;
				display: none;
			}
			&.completed{
				.complete{
					display: inline;
					&.thanks{
						display: block;
					}
				}
				.incomplete{
					display: none;
				}
			}
			.complete.thanks{
				margin-top: 20px;
				color: $text-color;
				text-align: center;
			}
		}
		&.not-found{
			display: none;
		}
		&.deadline-passed{
			display: none;
		}
	}
}

.social-links{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 8%;
	margin: 0 auto;
	padding-top: 30px;
	width: 410px;
	vertical-align: middle;
	@include respond-to("mobile"){
		width: 100%;
	}
	&.relative{
		position: relative;
		bottom: 15px;
	}
	.logo{
		width: 140px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		float: left;
		margin-top: -15px;
		@include respond-to("mobile"){
			display: block;
			margin: auto;
			float: none;
		}
	}
	.social-group{
		display: inline-block;
		@include respond-to("mobile"){
			display: block;
			width: 240px;
			margin: 25px auto;
		}
	}
	.social{
		vertical-align: middle;
		display: inline-block;
		font-size: 30px;
		width: 30px;
		color: white;
		text-align: center;
		text-decoration: none;
		margin: 10px 25px;
		transition: transform 0.4s, color 0.4s;
		&:hover{
			transform: scale(1.2);
		}
	}
}

