$base-font-size: 14px;
$hacktj-primary: #A1B6D5;
$text-color: #333333;
$line-width: 7px;

$body-family: "Avenir Next", sans-serif;
$header-family: "Roboto", sans-serif;
// $body-family: sans-serif;
// $header-family: serif;

@import "concise/index";
@import "icons/icons";
@import "icons/helper";
@import "icons/social/icons";
@import "mixins";
@import "fonts";
html{
	height: 100%;
}
body {
	font-family: $body-family;
	font-weight: 300;
	color: $text-color;
	@include respond-to("mobile"){
		overflow-x: hidden;
	}
}
h1, h2, h3, h4, h5, h6{
	font-family: $header-family;
	.small{
		font-size: 0.5em;
		display: inline;
		margin-left: 1em;
		line-height: 2em;
	}
}

/************************************
*	Base Styles						*
*************************************/
section{
	padding: 0 0;
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	.container{
		display: block;
		position: relative;
		margin: 40px auto;
		max-width: 700px;
		@include respond-to("mobile"){
			max-width: 100% !important;
		}
	}
	h1.section-title{
		font-family: $header-family;
		text-align: center;
		font-size: 40px;
		line-height: 1.3em;
		font-weight: 100;
		margin-bottom: 0.4em;
		color: $hacktj-primary;
	}
	&.red{
		h1.section-title{
			color: white;
		}
		background-color: $hacktj-primary;
		color: white;
	}
}

input{
	display: inline-block;
	height: 50px;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
	box-shadow: none;
	border: none;
	border-radius: 5px;

	padding: 15px;
	font-size: 25px;
	color: white;

	$input-color: rgba(255, 255, 255, 0.2);
	background-color: $input-color;
	border: 1px solid transparent;
	&:focus{
		border-color: rgba(255, 255, 255, 0.6);
	}
	transition: border-color 0.25s;

	$placeholder-color: rgba(255, 255, 255, 0.6);
	$placeholder-weight: 100;
	$placeholder-size: 20px;
	$placeholder-padding: 2.5px;
	&::-webkit-input-placeholder {
		font-weight: $placeholder-weight;
	  color: $placeholder-color;
	  padding-top: $placeholder-padding;
	  font-size: $placeholder-size;
	}
	&:-moz-placeholder {
		font-weight: $placeholder-weight;
	  color: $placeholder-color;
	  padding-top: $placeholder-padding;
		  font-size: $placeholder-size;
	}
	&::-moz-placeholder {
		font-weight: $placeholder-weight;
	  color: $placeholder-color;
	  padding-top: $placeholder-padding;
		  font-size: $placeholder-size;
	}
	&:-ms-input-placeholder {
		font-weight: $placeholder-weight;
	  color: $placeholder-color;
	  padding-top: $placeholder-padding;
		  font-size: $placeholder-size;
	}
}

label {
	font-weight: 100;
}

a{
	color: $hacktj-primary;
	text-decoration: underline;
	transition: color 0.3s;
	&:hover{
		color: lighten($hacktj-primary, 10%)
	}
}

button, .button {
	text-decoration: none;
	display: inline-block;
	height: 50px;
	background: none;
	overflow: hidden;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	position: relative;
	.text, .icon{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		line-height: 50px;
		transition: top 0.5s;
	}
	.icon{
		font-size: 40px;
		top: 100%;
	}
	&.small{
		font-size: 18px;
		height: 40px;
		.text{
			line-height: 40px;
		}
		.icon{
			font-size: 18px;
		}
	}
	&.is-disabled{
		color: rgba(230, 230, 230, 0.6);
		border-color: rgba(230, 230, 230, 0.6);
		cursor: none;
		pointer-events: none;
	}
	&.is-done{
		.text{
			top: -100%;
		}
		.icon{
			top: 0;
		}
	}
	&:hover{
		background-color: $hacktj-primary;
		border-color: $hacktj-primary;
		.text{
			color: white;
		}
	}
	&:active{
		border-color: white;
	}
	transition: background-color 0.25s, border-color 0.25s, color 0.25s, padding-left 0.25s;
}

p.large{
	font-size: 20px;
	font-weight: 100;
	line-height: 1.7em;
	margin-bottom: 0;
}

.register-button{
	overflow:hidden;
	position: relative;
	cursor: pointer;
	.text{
		cursor: pointer;
	}
	.nvite-button{
		opacity: 0.0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100% !important;
		height: 100% !important;
		@include respond-to("mobile"){
			margin: 0;
		}
	}
	.event-ticketing{
		h3{
			color: $hacktj-primary !important;
		}
	}
}

.social-links{
	margin: 20px auto;
	width: 250px;
	.social{
		display: inline-block;
		font-size: 30px;
		width: 30px;
		color: white;
		text-align: center;
		text-decoration: none;
		margin: 10px 25px;
		transition: transform 0.4s, color 0.4s;
		&:hover{
			transform: scale(1.2);
		}
	}
}

/************************************
*	Animated Lines					*
************************************/
.animation-container{
	position: absolute;
	background: none;
	height: 100%;
	z-index: 10;

	.animated{
		background: $hacktj-primary;
		position: absolute;
		top: 0;
		&.white{
			background: #fff;
		}
	}

	&.vertical{
		height: 100%;
		width: $line-width;
		.animated{
			left: 0;
			width: 100%;
			height: 0;
		}
	}
	&.horizontal{
		position: relative;
		width: 100%;
		height: $line-width;
		max-width: 900px;
		margin: auto;
		.animated{
			width: 0;
			height: 100%;
			&.right{
			right: 0;
			}
			&.left{
				left: 0;
			}
		}
	}

	&.extra-height{
		height: calc(100% + 80px);
		margin-top: -40px;
	}
	&.left{
		left: 0px;
	}
	&.extra-left{
		left: -100px;
	}
	&.top{
		top: 0px;
	}
	&.right{
		right: 0px;
	}
	&.extra-right{
		right: -100px;
	}
	&.bottom{
		bottom: 0px;
	}

	@include respond-to("mobile"){
		display: none;
	}
}

.register-button-block{
	display: block;
	margin: 50px auto;
	width: 500px;
	.register-text{
		font-size: 20px;
		font-weight: 100;
		width: 100%;
		margin: auto;
		display: block;
		text-align: center;
		@include respond-to("mobile"){
			margin-left: 10px;
		}
	}
	.register-button{
		width: 350px;
		margin: 5px auto;
		display: block;
		@include respond-to("mobile"){
			width: 90%;
			margin: 10px auto;
			display: block;
		}
	}
	@include respond-to("mobile"){
		width: 100%;
	}
}

/************************************
*	Hero Section					*
*************************************/
section.hero{
	.social-links{
		position: absolute;
		top: -15px;
		left: 0px;
		.social{
			font-size: 22px;
			margin: 20px;
			display: block;
		}
	}
	#mlh-trust-badge{
		position:absolute;
		top:0;
		right:50px;
		width:100px;
		display:block;
		z-index:10000;
		@include respond-to("mobile"){
			right: 10px;
			width: 75px;
		}
	}
	height: 100%;
	min-height: 680px;	
	padding-top: 5%;
	position: relative;

	// @include linear-gradient-image(#fff, #222, '../img/monticello.png');
	background-image: url(../img/bkg.jpg);
	background-size: cover;
	background-position: center top;

	// video.background{
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// }

	font-family: $header-family;
	color: white;

	.logo{
		display: block;
		max-width: 500px;
		margin: auto;
		@include respond-to("mobile"){
			max-width: 90%;
		}
	}
	.event-date, .event-location{
		width: 100%;
		text-align: center;
		// font-weight: 100;
		margin-top: 10px;
		@include respond-to("mobile"){
			width: 90%;
			text-align: center;
			margin: auto;
		}
		&.event-date{
			font-size: 45px;
			@include respond-to("mobile"){
				font-size: 32px;
			}
		}
		&.event-location{
			font-size: 25px;
			font-weight: 100;
			@include respond-to("mobile"){
				margin-top: 10px;
				font-size: 22px;
			}
		}
	}

	.animation-container.left{
		height: 100px;
		bottom: -75px;
		left: -50px;
	}
	.container{
		height: 100%;
		margin-top: -5%;
		padding-top: 5%;
	}
}

/************************************
*	Intro Section					*
*************************************/
section.intro{
	.container{
		max-width: 650px;
		@include respond-to("mobile"){
			max-width: 90% !important;
		}
	}
	.animation-container.left{
		left: -125px;
	}
}

/************************************
*	FAQ Section						*
*************************************/
section.faq{
	padding: 1px 0;
	line-height: 1.3em;
	.container{
		max-width: 900px;
	}
	.header-row{
		display:flex;
		flex-orient:horizontal;
		flex-align:stretch;    
  		align-items: center;

		.animation-container.horizontal {
			-webkit-box-flex:1.0;
			-moz-box-flex:1.0;
			box-flex:1.0;
		}

		.section-title{
			margin: 0 20px;
			width: 200px;
			@include respond-to("mobile"){
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}
	ul.faq-container{
		display: block;
		position: relative;
		overflow: hidden;
		font-size: 0;
		.row{
			margin-top: 20px;
			padding: 0 30px;
			@include row();
			@include respond-to("mobile"){
				margin: 0;
			}
		}
		li.question-group{
			font-size: 1em;
			white-space:normal;
			list-style-type: none;
			@include column(1/3);
			@include respond-to("mobile"){
				@include column(1);
				margin: 10px 0;
			}
			&.is-open{
				.question{
					.icon.icon-close{
						opacity: 1;
					}
					.icon.icon-plus{
						opacity: 0;
						transform: rotate(-45deg) translate(41%, -34%);
					}
					&:hover{
						color: #555;
					}
				}
				&:hover{
					color: #555;
					.icon{
						color: $hacktj-primary;
					}
				}
			}
			.question{
				font-family: $header-family;
				display: block;
				position: relative;
				font-size: 20px;
				text-align: center;
				font-weight: 100;
				background-color: white;
				color: #555;
				text-align: left;
				height: 56px;
				line-height: 40px;
				padding: 8px 16px;
				padding-right: 40px;
				&.small{
					line-height: 1em;
					&.not-mobile{
						@include respond-to("mobile"){
							line-height: 40px;
						}
					}
				}
				cursor: pointer;
				transition: color 0.5s;
				.icon{
					float: right;
					display: block;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					font-size: 26px;
					right: 16px;
					opacity: 0;
					transition: transform 0.4s, opacity 0.4s;
					&.icon-plus{
						opacity: 1;
					}
					&.icon-close{
						transform: translate(-55%, -50%)
					}
				}
				&:hover{
					color: $hacktj-primary;
				}
			}
			.answer{
				position: relative;
				box-sizing: border-box;
				&:before{
					content: '';
					display: block;
					position: absolute;
					left: 16px;
					right: 16px;
					top: 1px;
					height: 2px;
					background-color: $hacktj-primary;
				}
				font-size: 15px;
				line-height: 1.4em;
				font-weight: 100;
				opacity: 1;
				overflow: hidden;
				background: white;
				color: #555;
				p{
					margin: 16px;
				}
				a{
					color: $hacktj-primary;
				}
			}
		}
	}
	p.large{
		text-align: center;
		@include respond-to("mobile"){
			max-width: 80%;
			display: block;
			margin: auto;
		}
	}
	a{
		color: white;
	}
	.animation-container.left{
		height: 70px;
		margin-top: -41px;
	}
	.animation-container.right{
		height: calc(100% + 11px);
		margin-bottom: -40px;
	}
}

/************************************
*	Sponsors Section				*
*************************************/
section.sponsors{
	.sponsor-container{
		text-align: center;
		min-height: 150px;
		.partner-image{
			display: inline-block;
			max-width: 150px;
			margin: 20px;
		}
		li.nvite-widget-entity{
			margin: 50px 25px;
			margin-top: 0px;
			width: auto;
			height: auto;
			vertical-align: middle;
			.nvite-card-header img{
				margin-left: -40px;
			}
			.nvite-widget-card-overlay.nvite-visible{
				cursor: pointer;
			}
		}
		img.nvite-widget-avatar{
			border: none;
			
			width: auto;
			height: auto;
			max-width: 180px;
			max-height: 90px;
			border-radius: 0;
		}
		.nvite-context-sponsor{
			p.nvite-tooltip {
				span {
					background-color: $hacktj-primary;
					font-family: $body-family;
					small{
						display: none;
					}
				}
				&:after{
					border-top: 13px solid $hacktj-primary;
				}
			}
		}
		p.nvite-context-sponsor{
			display: none;
		}
	}
	p.large{
		text-align: center;
	}
}
.animation-container.horizontal.sponsors{
	@include respond-to("mobile"){
		display: block;
		left:-25px;
		width: calc(100% + 25px);
	}
	max-width: 850px;
	left: 25px;
	.animated.right{
		@include respond-to("mobile"){
			width: 100%;
		}
	}
}
/************************************
*	Schedule Section				*
*************************************/
section.schedule{
	.container{
		max-width: 800px;
	}
	ul.day{
		padding-left: 50px;
		margin-bottom: 20px;
		.day-title{
			box-sizing: border-box;
			color: $hacktj-primary;
			display: inline-block;
			margin-left: -50px;
			width: 50%;
			max-width: 220px;
			h3{
				font-weight: 500;
				margin: 5px 25px;
				font-size: 18px;
			}
			margin-bottom: 10px;
			@include respond-to("mobile"){
				max-width: 90%;
				width: 90%
			}
		}
		li.item{
			list-style: none;
			width: 20%;
			min-width: 400px;
			@include row();
			@include respond-to("mobile"){
				font-size: 1.2em;
			}
			h6.time{
				display: inline-block;
				color: $hacktj-primary;
				font-family: $body-family;
				font-weight: 100;
				@include column(1/4);
				@include respond-to("mobile"){
					@include column(1/3);
				}
			}
			.description{
				@include column(3/4);
				padding-left: 0;
				display: inline-block;
				@include respond-to("mobile"){
					@include column(2/3);
				}
			}
			@include respond-to("mobile"){
				width: 100%;
				min-width: 0;
			}
		}
	}
}

/************************************
*	Map Section				*
*************************************/
section.map{
	.map-container{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include respond-to("mobile"){
			position: relative;
			width: 100%;
			height: 60%;
		}
		.mapboxgl-ctrl-bottom-right{
			display: none;
		}
	}
	height: 60%;
	.animation-container.vertical{
		height: 50%;
		left: calc(50% - 400px);
		z-index: 10;
	}
	.animation-container.horizontal{
		position: absolute;
		left: calc(50% - 400px);
		right: auto;
		top: 50%;
		width: 175px;
		z-index: 10;
	}
	.info-circle{
		width: 250px;
		height: 200px;
		border-radius: 8px;
		color: $hacktj-primary;
		background: white;
		position: absolute;
		z-index: 10;
		top: calc(50% - 100px);
		left: calc(50% - 400px + 50px);
		box-shadow: 0px 0px 5px #CCC;
		.info-container{
			position: absolute;
			width: 100%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			.address{
				font-weight: 400;
			}
			.button{
				width: 60%;
				margin-top: 10px;
				border-color: $hacktj-primary;
				font-weight: normal;
			}
		}
		transform: scale(0);
		@include respond-to("mobile"){
			transform: none;
			display: block;
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			border-radius: 0;
			.info-container{
				h6, .address{
					font-size: 1.3em;
				}
			}
		}
	}
}


section.register{
	padding: 5px;
	.container{
		margin: 20px auto;
		.register-button-block.bottom{
			margin: 0 auto;
		}
	}
	button.register-button:hover{
		background: white;
		color: $hacktj-primary;
	}
}