html(prefix="og: http://ogp.me/ns#")
	head
		title 404 Error
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(http-equiv="refresh" content="0;URL=https://hacktj.org")

		link(rel="icon" type="image/png" href="/img/favicon.png")
	body
		script.
			window.location = "/"