html(prefix="og: http://ogp.me/ns#")
	head
		title HackTJ 2016

		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-capable" content="yes")

		meta(property="og:title" content="HackTJ: The Original High School Hackathon")
		meta(property="og:description" content="Ever wanted to build the next Snapchat? Program a drone? Build a website that connects people across the globe? Come to HackTJ and work with your friends to build something cool, learn new tricks, and have a fantastic time!")
		meta(property="og:site_name" content="HackTJ")
		meta(property="og:image" content="https://hacktj.org/2016/img/og-image.jpg")

		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400", type="text/css")
		link(rel='stylesheet', href='css/main.css', type='text/css')
	body
		.centered-box
			img.logo(src="img/logo-main.png" alt="HackTJ")
			.event-date Feburary 6th-7th, 2016
			.event-location Thomas Jefferson High School for Science and Technology
			.interest-form
				label.form-text Get notified when registration opens
				.input-line
					input.contact(type="text" placeholder="Email Address or Phone #")
					button.submit.is-disabled(type="button") 
						.text Remind Me!
						.icon
				.confirmation-text &nsbp;
	script(src="js/main.js" type="text/javascript")