html(prefix="og: http://ogp.me/ns#")
	head
		title Coming Soon: HackTJ 2016

		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-capable" content="yes")

		//- Facebook Meta Tags
		meta(property="og:title" content="Coming Soon: HackTJ 2016")
		meta(property="og:description" content="The original high school hackathon is back. February 6th-7th, 2016.")
		meta(property="og:site_name" content="HackTJ")
		meta(property="og:image" content="https://hacktj.org/2016/img/og-image.jpg")

		//- Twitter Meta Tags
		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:site', content='@hacktjofficial')
		meta(name='twitter:title', content='Coming Soon: HackTJ 2016')
		meta(name='twitter:description', content='The original high school hackathon is back. February 6th-7th, 2016.')
		meta(name='twitter:image', content='https://hacktj.org/2016/img/og-image.jpg')



		link(rel="icon" type="image/png" href="/img/favicon.png")
		link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400", type="text/css")
		link(rel='stylesheet', href='css/main.css', type='text/css')
	body
		section.hero
			.container
				img.logo(src="img/logo.png" alt="HackTJ")
				.event-date February 6th-7th, 2016
				.event-location Thomas Jefferson High School for Science and Technology
				.register-button-block
					.register-text Want to come? Registration is now open!
					button.register-button Register as a Student
					button.register-button Register as a Mentor
				.animation-container.vertical.left.bottom
					.animated
		section.intro
			.container
				.animation-container.vertical.left.top.extra-height#trigger
					.animated
				p.large Ever wanted to build the next Snapchat? Program a drone? Build a website that connects people across the globe? Come to HackTJ and work with your friends to build something cool, learn new tricks, and have a fantastic time!

		section.red.faq
			.container
				.animation-container.vertical.left.top
					.animated.white
				.animation-container.vertical.right.bottom
					.animated.white
				h1.section-title FAQ
				nav.faq-nav
					.nav-item.current(num="0")
						.icon.icon-help1
						.label Basics
					.nav-item(num="1")
						//- .icon.icon-drawer
						.icon.icon-note2
						.label Registration
					.nav-item(num="2")
						.icon.icon-tools
						//- .icon.icon-share
						//- .icon.icon-diskette
						.label Hacking
					.nav-item(num="3")
						.icon.icon-portfolio
						.label Supplies
					.underline-container
						.underline
				.faq-container
					ul.page-group
						//- General Questions
						li.page
							.question-group
								h3.question What is HackTJ?
								p.answer HackTJ is a student-run hackathon at TJHSST, where you will have 24 hours to learn how to code and/or work with your friends to make your idea come to life.
							.question-group
								h3.question When is HackTJ?
								p.answer HackTJ will start on Saturday, February 6 and run until Sunday, February 7. If you need to arrive late or leave early, please <a href="mailto:hello@hacktj.org">let us know</a> ahead of time.
							.question-group
								h3.question Who can attend?
								p.answer HackTJ is open to any and all current high school students. If you're not a high school student but would like to attend, consider coming <a href="" onclick="return false;">as a mentor</a>.
						//- Registration Questions
						li.page
							.question-group
								h3.question How much will it cost?
								p.answer HackTJ is just $10 for students (less than a movie ticket!) but if you're unable to afford that, please <a href="mailto:hello@hacktj.org">email us</a> and we'll help make it work for you.
							.question-group
								h3.question Can I get a refund?
								p.answer Certainly. If you're no longer able to attend and want a refund, <a href="mailto:hello@hacktj.org">email us</a> before February 1st and we'll help you out.
							.question-group
								h3.question Can I pay in cash?
								p.answer If you're a TJ student we can accept cash for your registration, just <a href="mailto:hello@hacktj.org">send us an email</a> and we'll give you more info. All non-TJ students must pay through our website.
						//- Hacking Questions
						li.page
							.question-group
								h3.question Isn't hacking illegal?
								p.answer In the context of a hackathon, "hacking" is to build a real application over the length of the event. It's important to not confuse this with illegal hacking, which is gaining unauthorized access to a computer. 
							.question-group
								h3.question Do I need a team?
								p.answer If you already have a team of 2-4 people you want to work with, that's awesome! If not don't worry because we'll have an opportunity for people to join a team if they need one.
							.question-group
								h3.question What if I don't know how to code?
								p.answer Come to HackTJ! Coding is fun, creative, and an important skill, and HackTJ is the perfect way to learn. We'll have workshops and mentors to help guide you. 
						//- Food and supplies questions
						li.page
							.question-group
								h3.question What should I bring?
								p.answer You'll need to bring your laptop, phone, chargers, a sleeping bag/pillow, toiletries, and extra clothing. We suggest you bring a set of nice clothes for demos; you'll want to make the best impression.
							.question-group
								h3.question Will there be food?
								p.answer Yes. Lots and lots of food.
							.question-group
								h3.question What if I have dietary concerns?
								p.answer We'll be providing meals for most everyone at HackTJ, but if you have special concerns please <a href="mailto:hello@hacktj.org">let us know</a>.
				p.large If your question isn't answered here, just ask us: <a href="mailto:hello@hacktj.org">hello@hacktj.org</a>.
		section.sponsors
			.container
				.animation-container.vertical.top.right.extra-right.extra-height
					.animated
				h1.section-title Sponsors
				.sponsor-container
					p Stay tuned: we'll be announcing some sponsors soon!
				p.large Interested in sponsoring? Email us at <a href="mailto:sponsors@hacktj.org">sponsors@hacktj.org</a>.
		.animation-container.horizontal
			.animated.right
		section.schedule
			.container
				.animation-container.vertical.top.left.extra-height
					.animated
				h1.section-title Schedule
				ul.day
					.day-title
						h3 Saturday, Feburary 6
						.animation-container.horizontal.line-schedule
							.animated.left
					li.item
						h6.time 2:00PM
						.description Registration Opens
					li.item
						h6.time 2:30 PM
						.description Opening Ceremony
					li.item
						h6.time 3:30 PM
						.description Hacking Begins
					li.item
						h6.time 6:30 PM
						.description Dinner
					li.item
						h6.time 11:00 PM
						.description Late-night snack
				ul.day
					.day-title
						h3 Sunday, Feburary 7
						.animation-container.horizontal.line-schedule
							.animated.left
					li.item
						h6.time 8:00 AM
						.description Breakfast
					li.item
						h6.time 12:00 PM
						.description Lunch
					li.item
						h6.time 3:00 PM
						.description Hacking Ends
					li.item
						h6.time 3:30 PM
						.description Expo starts
					li.item
						h6.time 4:30 PM
						.description Presentations & Final Ceremony
					li.item
						h6.time 5:30 PM
						.description End of HackTJ
		section.red.map
			.map-container#map
			.animation-container.vertical.top.left.extra-left
				.animated
			.animation-container.horizontal
				.animated.left
			.info-circle#map-info
				.info-container
					h6 TJHSST
					.address 6560 Braddock Road
					.address Alexandria, VA
					a.button.small(href="https://www.google.com/maps/place/Thomas+Jefferson+High+School+for+Science+and+Technology/@38.8185004,-77.1708548,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7b2e02877e895:0xc12f564af4d3bcab" target="_blank") 
						.text Get directions
						.icon.icon-caret-right
		section.red.register
			.container
				.register-button-block
					.register-text Want to come? Registration is now open!
					button.register-button Register as a Student
					button.register-button Register as a Mentor
	script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.js")
	script(src="js/main.js" type="text/javascript")