html(prefix="og: http://ogp.me/ns#")
	head
		title Coming Soon: HackTJ 2016

		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-capable" content="yes")

		//- Facebook Meta Tags
		meta(property="og:title" content="Coming Soon: HackTJ 2016")
		meta(property="og:description" content="The original high school hackathon is back. February 6th-7th, 2016.")
		meta(property="og:site_name" content="HackTJ")
		meta(property="og:image" content="https://hacktj.org/2016/img/og-image.jpg")

		//- Twitter Meta Tags
		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:site', content='@hacktjofficial')
		meta(name='twitter:title', content='Coming Soon: HackTJ 2016')
		meta(name='twitter:description', content='The original high school hackathon is back. February 6th-7th, 2016.')
		meta(name='twitter:image', content='https://hacktj.org/2016/img/og-image.jpg')



		link(rel="icon" type="image/png" href="/img/favicon.png")
		link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400", type="text/css")
		link(rel='stylesheet', href='css/main.css', type='text/css')
	body
		section.hero
			a#mlh-trust-badge(href='https://mlh.io/?utm_campaign=Trust%20Badge', target='_blank')
				img(src='https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png', alt='MLH Official - Spring 2016', style='width:100%;')

			.container
				img.logo(src="img/logo.png" alt="HackTJ")
				.event-date February 6th-7th, 2016
				.event-location Thomas Jefferson High School for Science and Technology
				.register-button-block
					.register-text Want to come? Registration is now open!
					button.register-button Register as a Student
						script(async src="//widgets.nvite.com/1.1/button.js" data-resource="hacktjstudents" data-class="nvite-button")
					button.register-button Register as a Mentor
						script(async src="//widgets.nvite.com/1.1/button.js" data-resource="hacktjmentorvolunteers" data-class="nvite-button")
		section.intro
			.container
				.animation-container.vertical.left.top.extra-height#trigger
					.animated
				p.large Ever wanted to build the next Snapchat? Program a drone? Build a website that connects people across the globe? Come to HackTJ and work with your friends to build something cool, learn new tricks, and have a fantastic time!

		section.red.faq
			.container
				.animation-container.vertical.left.top
					.animated.white
				.header-row
					.animation-container.horizontal.left-side
						.animated.left.white
					h1.section-title FAQ
					.animation-container.horizontal.right-side
						.animated.left.white
				ul.faq-container
					//- General Questions
					.row
						li.question-group
							h3.question What is HackTJ?
								.icon.icon-plus
								.icon.icon-close
							.answer: p HackTJ is a student-run hackathon at TJHSST, where you will have 24 hours to learn how to code and/or work with your friends to make your idea come to life.
						li.question-group
							h3.question When is HackTJ?
								.icon.icon-plus
								.icon.icon-close
							.answer: p HackTJ will start on Saturday, February 6 and run until Sunday, February 7. If you need to arrive late or leave early, please <a href="mailto:hello@hacktj.org">let us know</a> ahead of time.
						li.question-group
							h3.question Who can attend?
								.icon.icon-plus
								.icon.icon-close
							.answer: p HackTJ is open to any and all current high school students. If you're not a high school student but would like to attend, consider coming <a href="" onclick="return false;">as a mentor</a>.
					//- Registration Questions
					.row
						li.question-group
							h3.question Is there any cost?
								.icon.icon-plus
								.icon.icon-close
							.answer: p Nope! HackTJ is completely free!
						li.question-group
							h3.question Is there a deadline?
								.icon.icon-plus
								.icon.icon-close
							.answer: p Yes. Registration will be closed on Feburary 1st, but don't worry about that – go ahead and register now!
						li.question-group
							h3.question.small Do you have a code of conduct?
								.icon.icon-plus
								.icon.icon-close
							.answer: p Yes, good question! We have adopted the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH code of conduct</a>, which all attendees will be required to adhere to. 
					//- Hacking Questions
					.row
						li.question-group
							h3.question Isn't hacking illegal?
								.icon.icon-plus
								.icon.icon-close
							.answer: p In the context of a hackathon, "hacking" is to build a real application over the length of the event. It's important to not confuse this with illegal hacking, which is gaining unauthorized access to a computer. 
						li.question-group
							h3.question Do I need a team?
								.icon.icon-plus
								.icon.icon-close
							.answer: p If you already have a team of 2-4 people you want to work with, that's awesome! If not don't worry because we'll have an opportunity for people to join a team if they need one.
						li.question-group
							h3.question.small What if I don't know how to code?
								.icon.icon-plus
								.icon.icon-close
							.answer: p Come to HackTJ! Coding is fun, creative, and an important skill, and HackTJ is the perfect way to learn. We'll have workshops and mentors to help guide you. 
					//- Food and supplies questions
					.row
						li.question-group
							h3.question What should I bring?
								.icon.icon-plus
								.icon.icon-close
							.answer: p You'll need to bring your laptop, phone, chargers, a sleeping bag/pillow, toiletries, and extra clothing. We suggest you bring a set of nice clothes for demos; you'll want to make the best impression.
						li.question-group
							h3.question Will there be food?
								.icon.icon-plus
								.icon.icon-close
							.answer: p Yes. Lots and lots of food.
						li.question-group
							h3.question.small.not-mobile What if I have dietary concerns?
								.icon.icon-plus
								.icon.icon-close
							.answer: p We'll be providing meals for most everyone at HackTJ, but if you have special concerns please <a href="mailto:hello@hacktj.org">let us know</a>.
				p.large If your question isn't answered here, just ask us: <a href="mailto:hello@hacktj.org">hello@hacktj.org</a>.
				.animation-container.vertical.right.bottom
						.animated.white
		section.sponsors
			.container
				.animation-container.vertical.top.right.extra-right.extra-height
					.animated
				h1.section-title Sponsors
				.sponsor-container
					script(async src="//widgets.nvite.com/1.1/cards.js" data-resource="hacktjmentorvolunteers/sponsors")
				h1.section-title Partners
				.sponsor-container
					a(href="https://mlh.io" target="_blank")
						img.partner-image(src="img/mlh.png")
					a(href="https://tjclc.wordpress.com" target="_blank")
						img.partner-image(src="img/clc.png")
				p.large Interested in sponsoring? Email us at <a href="mailto:sponsor@hacktj.org">sponsor@hacktj.org</a>.

		.animation-container.horizontal.sponsors
			.animated.right
		section.schedule
			.container
				.animation-container.vertical.top.left.extra-height
					.animated
				h1.section-title Schedule
					.small (tentative)
				ul.day
					.day-title
						h3 Saturday, Feburary 6
						.animation-container.horizontal.line-schedule
							.animated.left
					li.item
						h6.time 2:00PM
						.description Registration Opens
					li.item
						h6.time 2:30 PM
						.description Opening Ceremony
					li.item
						h6.time 3:30 PM
						.description Hacking Begins
					li.item
						h6.time 6:30 PM
						.description Dinner
					li.item
						h6.time 11:00 PM
						.description Late-night snack
				ul.day
					.day-title
						h3 Sunday, Feburary 7
						.animation-container.horizontal.line-schedule
							.animated.left
					li.item
						h6.time 8:00 AM
						.description Breakfast
					li.item
						h6.time 12:30 PM
						.description Hacking Ends
					li.item
						h6.time 12:45 PM
						.description Lunch
					li.item
						h6.time 1:30 PM
						.description Expo starts
					li.item
						h6.time 2:30 PM
						.description Presentations & Final Ceremony
					li.item
						h6.time 3:30 PM
						.description End of HackTJ
		section.red.map
			.map-container#map
			.animation-container.vertical.top.left.extra-left
				.animated
			.animation-container.horizontal
				.animated.left
			.info-circle#map-info
				.info-container
					h6 TJHSST
					.address 6560 Braddock Road
					.address Alexandria, VA
					a.button.small(href="https://www.google.com/maps/place/Thomas+Jefferson+High+School+for+Science+and+Technology/@38.8185004,-77.1708548,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7b2e02877e895:0xc12f564af4d3bcab" target="_blank") 
						.text Get directions
						.icon.icon-caret-right
		section.red.register
			.container
				.register-button-block.bottom
					.register-text Want to come? Registration is now open!
					button.register-button Register as a Student
						script(async src="//widgets.nvite.com/1.1/button.js" data-resource="hacktjstudents" data-class="nvite-button")
					button.register-button Register as a Mentor
						script(async src="//widgets.nvite.com/1.1/button.js" data-resource="hacktjmentorvolunteers" data-class="nvite-button")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWS7s6JVHNo0slACpRH7HR4HRWAWy78Do")
	script(src="js/main.js" type="text/javascript")
