html(prefix="og: http://ogp.me/ns#")
	head
		title HackTJ 4.0

		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-capable" content="yes")

		//- Facebook Meta Tags
		meta(property="og:title" content="HackTJ 2016")
		meta(property="og:description" content="The original high school hackathon is back. March 25th-26th, 2017.")
		meta(property="og:site_name" content="HackTJ")
		meta(property="og:image" content="https://hacktj.org/2017/img/og-image.png")

		//- Twitter Meta Tags
		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:site', content='@hacktjofficial')
		meta(name='twitter:title', content='HackTJ 2016')
		meta(name='twitter:description', content='The original high school hackathon is back. March 25th-26th, 2017.')
		meta(name='twitter:image', content='https://hacktj.org/2016/img/og-image.png')

		link(rel="icon" type="image/png" href="https://hacktj.org/2017/img/favicon.png")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400", type="text/css")
		link(rel='stylesheet', href='css/main.css', type='text/css')
	body
		section.hero
			a#mlh-trust-badge(href='https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white', target='_blank' style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000")
				img(src='https://s3.amazonaws.com/logged-assets/trust-badge/2017/white.svg', alt='Major League Hacking 2017 Hackathon Season', style='width:100%;')
			.container
				img.logo(src="img/logo.png" alt="HackTJ")
				.event-date March 25th-26th, 2017
				.event-location Thomas Jefferson High School for Science and Technology
				.register-button-block.top
					.register-text Check out the completed projects!
					a.button.register-button.mentor(href="/submit", target="_blank") View Hacks
		section.intro
			.container
				.animation-container.vertical.left.top.extra-height#trigger
					.animated
				p.large Ever wanted to build the next Snapchat? Program a drone? Build a website that connects people across the globe? Come to HackTJ and work with your friends to build something cool, learn new tricks, and have a fantastic time!

		section.red.faq
			.container
				.animation-container.vertical.left.top
					.animated.white
				.header-row
					.animation-container.horizontal.left-side
						.animated.left.white
					h1.section-title FAQ
					.animation-container.horizontal.right-side
						.animated.left.white
				ul.faq-container
					//- General Questions
					.row
						li.question-group
							h3.question What is HackTJ?
								.icon.icon-plus
								.icon.icon-close
							.answer: p HackTJ is a student-run hackathon at TJHSST, where you will have 24 hours to learn how to code and/or work with your friends to make your idea come to life.
						li.question-group
							h3.question When is HackTJ?
								.icon.icon-plus
								.icon.icon-close
							.answer: p HackTJ will start on Saturday, March 25 and run until Sunday, March 26. If you need to arrive late or leave early, please <a href="mailto:hello@hacktj.org">let us know</a> ahead of time.
						li.question-group
							h3.question Who can attend?
								.icon.icon-plus
								.icon.icon-close
							.answer: p HackTJ is open to any and all current high school students. If you're not a high school student but would like to attend, consider coming as a mentor or volunteer.
					//- Registration Questions
					.row
						li.question-group
							h3.question Is there any cost?
								.icon.icon-plus
								.icon.icon-close
							.answer: p Nope! HackTJ is completely free!
						li.question-group
							h3.question Is there a deadline?
								.icon.icon-plus
								.icon.icon-close
							.answer: p Yes. Registration will be closed on March 20th, but don't worry about that – go ahead and register now!
						li.question-group
							h3.question.small Do you have a code of conduct?
								.icon.icon-plus
								.icon.icon-close
							.answer: p Yes, good question! We have adopted the <a href="https://hacktj.org/conduct.pdf" target="_blank">MLH code of conduct</a>, which all attendees will be required to adhere to. 
					//- Hacking Questions
					.row
						li.question-group
							h3.question Isn't hacking illegal?
								.icon.icon-plus
								.icon.icon-close
							.answer: p In the context of a hackathon, "hacking" is to build a real application over the length of the event. It's important to not confuse this with illegal hacking, which is gaining unauthorized access to a computer. 
						li.question-group
							h3.question Do I need a team?
								.icon.icon-plus
								.icon.icon-close
							.answer: p If you already have a team of 2-4 people you want to work with, that's awesome! If not don't worry because we'll have an opportunity for people to join a team if they need one.
						li.question-group
							h3.question.small What if I don't know how to code?
								.icon.icon-plus
								.icon.icon-close
							.answer: p Come to HackTJ! Coding is fun, creative, and an important skill, and HackTJ is the perfect way to learn. We'll have workshops and mentors to help guide you. 
					//- Food and supplies questions
					.row
						li.question-group
							h3.question What should I bring?
								.icon.icon-plus
								.icon.icon-close
							.answer: p You'll need to bring your laptop, phone, chargers, a sleeping bag/pillow, toiletries, and extra clothing. We suggest you bring a set of nice clothes for demos; you'll want to make the best impression.
						li.question-group
							h3.question Will there be food?
								.icon.icon-plus
								.icon.icon-close
							.answer: p Yes. Lots and lots of food.
						li.question-group
							h3.question.small What if I have dietary concerns?
								.icon.icon-plus
								.icon.icon-close
							.answer: p We'll be providing meals for most everyone at HackTJ, but if you have special concerns please <a href="mailto:hello@hacktj.org">let us know</a>.
				p.large If your question isn't answered here, just ask us: <a href="mailto:hello@hacktj.org">hello@hacktj.org</a>.
				.animation-container.vertical.right.bottom
						.animated.white
		section.sponsors
			.container
				.animation-container.vertical.top.right.extra-right.extra-height
					.animated
				h1.section-title 2016 Sponsors
				.sponsor-container
					//script(async src = "//widgets.nvite.com/1.6/cards.js" data-resource="c8b8/sponsors")
					script(async src="//widgets.nvite.com/1.1/cards.js" data-resource="hacktjmentorvolunteers/sponsors")
				h1.section-title Partners
				.sponsor-container
					script(async src="//widgets.nvite.com/1.6/cards.js" data-resource="c8b8/speakers")
					//script(async src="//widgets.nvite.com/1.1/cards.js" data-resource="hacktjstudents/sponsors")
					//- a(href="https://mlh.io" target="_blank")
					//- 	img.partner-image(src="img/mlh.png")
					//- a(href="https://tjclc.wordpress.com" target="_blank")
					//- 	img.partner-image(src="img/clc.png")
				p.large Interested in sponsoring? Email us at <a href="mailto:sponsor@hacktj.org">sponsor@hacktj.org</a>.

		.animation-container.horizontal.sponsors
			.animated.right
		section.schedule#schedule
			.container
				.animation-container.vertical.top.left.extra-height
					.animated
				h1.section-title Schedule (Tentative)
				ul.day
					.day-title
						h3 Saturday, March 25
						.animation-container.horizontal.line-schedule
							.animated.left
					li.item
						h6.time 2pm
						.description Registration Opens
					li.item
						h6.time 2:30pm
						.description Opening Ceremony
					li.item
						h6.time 3:30pm
						.description Hacking Starts
					li.item
						h6.time 4-8pm
						.description Workshops
					li.item
						h6.time 6pm
						.description Dinner (BBQ)
					li.item
						h6.time 8pm
						.description Women in Tech Meetup
				ul.day
					.day-title
						h3 Sunday, March 26
						.animation-container.horizontal.line-schedule
							.animated.left
					li.item
						h6.time 12am
						.description Midnight Snack
					li.item
						h6.time 7am
						.description Breakfast (Bagels & Pastries)
					li.item
						h6.time 12pm
						.description Hacking Ends
					li.item
						h6.time 12:30pm
						.description Lunch (Subs)
					li.item
						h6.time 1pm
						.description Expo starts
					li.item
						h6.time 2:30pm
						.description Final Presentations
					li.item
						h6.time 3:30pm
						.description Closing Ceremony
					li.item
						h6.time 4pm
						.description End of HackTJ
		section.red.map
			.map-container#map
			.animation-container.vertical.top.left.extra-left
				.animated
			.animation-container.horizontal
				.animated.left
			.info-circle#map-info
				.info-container
					h6 TJHSST
					.address 6560 Braddock Road
					.address Alexandria, VA
					a.button.small(href="https://www.google.com/maps/place/Thomas+Jefferson+High+School+for+Science+and+Technology/@38.8185004,-77.1708548,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7b2e02877e895:0xc12f564af4d3bcab" target="_blank") 
						.text Get directions
						.icon.icon-caret-right
		section.red.register
			.container
				.register-button-block.bottom
					.register-text Student registration is opening soon!
					button.register-button.mentor Register as a Volunteer/Mentor
						//script(async src="//widgets.nvite.com/1.6/tickets.js" ng-attr-data-resource="3j7dml" data-button-text="Volunteer/Mentor" data-class="nvite-button")
						script(async src="//widgets.nvite.com/1.1/button.js" data-resource="hacktjmentorvolunteers" data-class="nvite-button")
				.social-links
					a.social.pe-so-twitter(target="_blank" href="https://twitter.com/HackTJOfficial")
					a.social.pe-so-facebook(target="_blank" href="https://facebook.com/HackTJOfficial")
					a.social.pe-so-instagram(target="_blank" href="https://instagram.com/hacktjofficial")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWS7s6JVHNo0slACpRH7HR4HRWAWy78Do")
	script(src="js/main.js" type="text/javascript")
