html(prefix="og: http://ogp.me/ns#")
	head
		title We're sad to see you go :(

		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-capable" content="yes")

		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400", type="text/css")
		link(rel='stylesheet', href='css/confirmation.css', type='text/css')
	body
		.centered-box
			.icon.icon-close-circle
			h3.title We're sad to see you go.
			
			.action-section.large-text
				.section-title We understand that plans change – don't worry, you haven't hurt our feelings. We hope to see you next year!
			
		.social-links
			.social-group
				a.social.pe-so-twitter(target="_blank" href="https://twitter.com/HackTJOfficial")
				a.social.pe-so-facebook(target="_blank" href="https://facebook.com/HackTJOfficial")
				a.social.pe-so-instagram(target="_blank" href="https://instagram.com/hacktjofficial")
			a.logo-link(target="_blank" href="https://hacktj.org")
				img.logo(src="img/logo-bw.png" alt="HackTJ")

